@use "../variables" as *;
.daily-container {
  margin-top: 1%;
  width: 100%;
  .daily-header {
    .daily-header-left {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .daily-sologan {
        border: 2px solid $primary-color;
        border-radius: $border-radius-l;
        height: 100%;
        .sologan-des {
          width: 60%;
          .title {
            font-size: 22px;
            font-weight: bold;
          }
          color: $primary-color;
          padding: 12px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
        .image-slg {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .daily-title {
        font-size: $size-normal;
        background-color: $second-color;
        padding: 12px;
        border-radius: $border-radius-l;
        font-weight: bold;
        text-align: center;
      }
    }
    .custom-datepicker{
      width: 100%;
      border: 1px solid #058e21;
    }
    .custom-gif{
      width: 100%;
    }
  }
  .card-container {
    width: 100%;
    margin-top: 12px;
  }
}
