@use "../variables" as *;
.policies-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .policies-card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 800px;
    width: 100%;
  }
  
  .policies-title {
    color: #1FAA59;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .policies-subtitle {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .policies-subheading {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
  }
  
  .policies-list {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 10px;
  }
  
  .policies-link {
    color: #1FAA59;
    font-weight: bold;
    text-decoration: none;
  }
  
  .policies-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
