@use "../variables" as *;
.container {
  // background-color: #38858a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 10px 0;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.header-btn {
  background: transparent;
  border: none;
  color: white;
}

.timer-card {
  width: 50%;
  font-size: 48px;
  background: rgba(255, 255, 255, 0.2);
  padding: 48px;
  border-radius: 10px;
}

.timer {
  font-size: 200px;
  color: white;
}

.start-btn {
  background: white;
  color: #c04b46;
  font-weight: bold;
  width: 100%;
}

.task-section {
  margin-top: 20px;
}

.task-card {
  width: 300px;
  padding: 10px;
  border: 2px dashed white;
  background: transparent;
}

.add-task-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
}
