@use "../variables" as *;

.profile-user-card {
  box-shadow: $box-shadow;
  background-color: white;
  height: auto;
  margin-bottom: 12px;
  border-radius: $border-radius-l;
  .left-col {
    flex: 1;
    padding: 2% 10%;
    .user-info {
      display: flex;
      gap: 40px;
      .avatar {
        width: 150px;
        height: 150px;
        border: 2px solid $primary-color;
        border-radius: 50%;
        padding: 6px;
        align-items: center;
        justify-content: center;
        display: flex;
        .image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .info {
        .name {
          font-size: 28px;
          color: $primary-color;
          font-weight: bold;
          margin-bottom: 12px;
        }
        .info-parent {
          display: flex;
          flex-direction: column;
          gap: 12px;
          .info-child {
            display: flex;
            gap: 20px;
            justify-content: flex-start;
            .info-title {
              text-transform: uppercase;
              font-weight: bold;
              text-align: left;
              flex: 0.2;
            }
            .info-content {
              text-align: left;
              flex: 1;
            }
          }
        }
      }
    }
  }
  .right-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    gap: 12px;
    color: white;
    font-size: 30px;
    background-color: $primary-color;
    flex: 1;
    border-radius: $border-radius-l;
    .right-icon {
      cursor: pointer;
      :hover {
        transform: matrix(1.1, 0, 0, 1.1, 0, -2);
      }
    }
  }
}

.user-achievement {
  margin-top: 12px;
}
