@use "../variables" as *;
.shop-container {
  background: #4c1d95;
  min-height: 100vh;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  border-radius: 6px;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 10px;
}

.card {
  background: #6b21a8;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.highlight {
  background: #f97316;
}

.badge {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #facc15;
  color: black;
  padding: 3px 6px;
  font-size: 12px;
  border-radius: 5px;
}

.popular-badge {
  background: #ec4899;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 3px 6px;
  font-size: 12px;
  border-radius: 5px;
}

.best-badge {
  background: #ef4444;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 3px 6px;
  font-size: 12px;
  border-radius: 5px;
}

.icon {
  width: 100px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.btn {
  background: #22c55e;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.back-btn {
  background: #3b82f6;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav-bar {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.nav-btn {
  padding: 10px 20px;
  border: none;
  background-color: #555;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-btn.active {
  background-color: $second-color;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.nav-btn:hover {
  background-color: $second-color;
}
