@use "../variables" as *;

.pricing-container {
  width: 100%;
  text-align: center;
  background: rgb(189, 189, 189);
  padding: 50px 20px;
  color: black;
  border-radius: 6px;
}

.pricing-title {
  font-size: 24px;
  font-weight: bold;
}

.pricing-title span {
  color: yellow;
}

.toggle-switch {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.discount-badge {
  background: yellow;
  color: black;
  padding: 5px 10px;
  border-radius: 20px;
}

.pricing-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.pricing-card {
  width: 300px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s;
}

.pricing-card:hover {
  transform: scale(1.05);
}

.highlight {
  border: 3px solid yellow;
  color: white;
}

.discount {
  background: orange;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}

.plan-title {
  font-size: 20px;
  font-weight: bold;
}

.plan-price {
  font-size: 26px;
  font-weight: bold;
}

.plan-price span {
  font-size: 14px;
}

.save-button {
  background: white;
  color: black;
  margin: 10px 0;
  border-radius: 20px;
}

.get-started-button {
  background: #6b3fa0;
  color: white;
  width: 100%;
  border-radius: 20px;
}
