$primary-color: #058e21;
$second-color: #ffda39;
$third-color: #aaea2f;
$fourth-color: #034805;
//danger
$danger-color: #d03438;
$danger-color-100: #ff9c9f;
$danger-color-200: #f40008;
//warning
$warning-color: #e0b02c;
$warning-color-100: #f0c030;
$warning-color-200: #f8d040;

//success
$success-color: #24c431;
$success-color-100: #66da74;
$success-color-200: #058e12;
$white-color: #fff;
$black-color: #000;
$gray-color: #888;
$padding-page: 12px;
$border-radius-xxl: 24px;
$border-radius-xl: 16px;
$border-radius-l: 12px;
$h-basic: 40px;

//color
$linear-gradient-right: linear-gradient(
  to right,
  $primary-color,
  $fourth-color
);
//size-icon
$icon-size-xxl: 48px;
$icon-size-xl: 32px;
$icon-size-l: 24px;
$icon-size-m: 20px;

//font-size
$size-normal: 16px;
$size-special: 18px;

/* title-xxl */
$title-xxl-font-size: 36px;
$title-xxl-line-height: 48px;

/* title-xl */
$title-xl-font-size: 24px;
$title-xl-line-height: 34px;

/* title-l */
$title-l-font-size: 22px;
$title-l-line-height: 32px;

/* title-lg */
$title-lg-font-size: 20px;
$title-lg-line-height: 30px;

/*box-shadow*/
$box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
$box-shadow-l: 0px 4px 16px rgba(0, 0, 0, 0.1);
