@use "./variables" as *;
.full-width {
  width: 100%;
}

.title-primary {
  font-size: $title-xxl-font-size;
  color: $primary-color;
  font-weight: bold;
}

.title-secondary {
  color: $second-color;
  font-size: $title-l-font-size;
  line-height: $title-l-line-height;
  font-weight: bold;
}
